<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="insertcourse" method="post">
        Course id : <input type="text" name="cid" id="cid"><br>
        Course name:<input type="text" name="cname" id="cname"><br>
        Fees: <input type="text" name="fees" id="fees"><br>
        Duration: <input type="text" name="duration" id="duration"><br>
        <button type="submit" name="btn" id="btn">insert course</button>
    </form>
</body>
</html>